<link rel="stylesheet" href="/css/user_profile.css">
<div id="profile-div">
     <h1>
        Dashboard
     </h1>

    <div id="buttons-div">
      <a href="/users/update-password-page"> <button>  Update Password  </button> </a>
      <a href="/users/sign-out"> <button> Sign Out  </button> </a> 
   </div> 
      

   <div>
      <h1>
         User Details
      </h1>
      <p class="info"><%= user.name %></p>
      <p class="info"><%= user.email %></p>
   </div>

   <div id="form-div">
      <h1>
         Update Details
      </h1>
      <form action="/users/update/<%= user.id %>" method="POST">

         <label class="labels" for="name-1"> Name </label>
         <input type="text" id="name-1" name="name" placeholder="Your Name" value="<%= user.name %>" required>
      
         <label class="labels" for="email-1">Email</label>
         <input type="email" id="enail-1" name="email" placeholder="Your Email" value="<%= user.email %>" required>
         <div id="button-div">
            <button> Update </button>
         </div>
         

       </form>
    
  </div>   
 
      

</div> 